body {
    font-family: Arial, sans-serif;
}

footer {            
        margin-top: 25vh;
}

h1 {
    padding-left: 5px;
    margin-bottom: 50px;
}

.grid .tick {
    color: lightgrey;
    opacity: 0.7;
}

.grid path {
    stroke-width: 0;
}

.container-flex {
    display: flex;
    padding: 10px;
    max-width: 1400px;
}

.container-flex svg {
    flex: 1.5;
}

.container-checkboxes {
    flex: 1;
    padding: 0 10px 5px 10px;
    margin-top: -20px;
    position: relative;
} 

.container-checkboxes input[type="checkbox"] {
    margin-right: 10px;
}

.checkbox-grouping{
    border-style: groove;
    padding: 10px;
}

.line {
    display: none;
    fill: none;
    stroke-width: 2px;
}

#Insgesamt_Studi {
    stroke: #FF5733;
}

.legend-ins-studi {
    color: #FF5733;
}

#Geist_Studi {
    stroke: #3498DB;
}

.legend-geist-studi {
    color: #3498DB;
}

#R_W_S_Studi {
    stroke: #28B463;
}

.legend-rws-studi {
    color: #28B463;
}

#Math_N_Studi {
    stroke: #F4D03F;
}

.legend-math-studi {
    color: #F4D03F;
}

#Hum_Ges_Studi {
    stroke: #8E44AD;
}

.legend-hum-studi {
    color: #8E44AD;
}

#A_F_E_Studi {
    stroke: #E67E22;
}

.legend-afe-studi {
    color: #E67E22;
}

#Ing_Studi {
    stroke: #FF69B4;
}

.legend-ing-studi {
    color: #FF69B4;
}

#Kunst_Studi {
    stroke: #A0522D;
}

.legend-kunst-studi {
    color: #A0522D;
}

#Insgesamt_Prof {
    stroke:  #C70039;
}

.legend-ins-prof {
    color:  #C70039;
}

#Geist_Prof {
    stroke: #1B4F72;
}

.legend-geist-prof {
    color: #1B4F72;
}

#R_W_S_Prof {
    stroke: #145A32;
}

.legend-rws-prof {
    color: #145A32;
}

#Math_N_Prof {
    stroke: #9A7D0A;
}

.legend-math-prof {
    color: #9A7D0A;
}

#Hum_Ges_Prof {
    stroke: #4A235A;
}

.legend-hum-prof {
    color: #4A235A;
}

#A_F_E_Prof {
    stroke: #D35400;
}

.legend-afe-prof {
    color: #D35400;
}

#Ing_Prof {
    stroke: #C71585;
}

.legend-ing-prof {
    color: #C71585;
}

#Kunst_Prof {
    stroke: #4B2E1A;
}

.legend-kunst-prof {
    color: #4B2E1A;
}